   
   @import url(../scss/partials/header.scss);
   @import url(../scss/partials/main-block__describes.scss);
   @import url(../scss/partials/main-block__realization.scss);
   @import url(../scss/partials/main-block__projects.scss);
   @import url(../scss/partials/main-block__presentation.scss);
   @import url(../scss/partials/main-block__mobile_devices.scss);
   @import url(../scss/partials/main-block__statistics.scss);
   @import url(../scss/partials/main-block__recent-posts.scss);
   @import url(../scss/partials/main-block__labels.scss);
   @import url(../scss/partials/main-block__contacts.scss);
   @import url(../scss/partials/footer.scss);
   @import url(../scss/partials/media/320px.scss);
   @import url(../scss/partials/media/768px.scss);
   @import url(../scss/partials/media/1024px.scss);
   @import url(../scss/partials/media/1440px.scss);
   @import url(../scss/partials/media/2560px.scss);


   *,.wrapper{
        margin:0;
        padding:0
    }


    body {
        width: 100%;
        font-family: 'Raleway, Montserrat, sans-serif';
      }

    @font-face {
        font-family: "Raleway";
        font-style: normal;
        src: local('../../build/fonts/raleway/Raleway-Medium.woff2');
    }

    @font-face {
        font-family: "Raleway";
        font-style: Bold;
        src: local('../../build/fonts/raleway/Raleway-ExtraBold.woff2');
    }

    @font-face {
        font-family: "Montserrat";
        font-style: light;
        src: local('../../build/fonts/Montserrat/Montserrat-Light.ttf');
    }

