
- var label = "Waxom";


footer.footer 
  .footer__wrapper 
    .footer__left-block 
      a.footer__item  Copyright © 2015 #{label}  
      a.footer__item   Privacy Policy 
      a.footer__item  FAQ  
      a.footer__item  Support  

    .footer__right-block    
      a.footer__item Designed by ThemeFire   
      a.footer__item Only on Envato Market