



footer.footer 
  .footer__wrapper 
    .footer__left-block 
      a.footer__item  Copyright © 2015 #[span Waxom]  
      a.footer__item   Privacy Policy 
      a.footer__item  FAQ  
      a.footer__item  Support  

    .footer__right-block    
      a.footer__item Designed by #[span ThemeFire]   
      a.footer__item Only on #[span Envato Market]