.slider
  .item
    img.picture_slide(src='img/common/header/photo.jpg' alt='Mountains')
    .burger-menu
    .navigation
      a.link__nav_logo 
       img.logo(src="img/common/header/logos.svg", alt="")
       img.name__logo(src="img/common/header/Waxom.svg", alt="")
      ul.nav__list
       li.nav__list_item Home
       li.nav__list_item About Us
       li.nav__list_item Portfolio
       li.nav__list_item Features
       li.nav__list_item Blog
       li.nav__list_item Pricing
       li.nav__list_item Shortcodes
       li.nav__list_item Contact
      .card_and_search
       img.cart(src="img/common/header/icon-cart.png", alt="cart")
       img.search(src="img/common/header/icon-search.png", alt="search")
    .header__common_text
      p.header__header-text Unique and Modern Design
      p.header__header-portfolio Portfolio PSD Template
      p.header__header-describe Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
      a.btn Get Started
  .item
    img.picture_slide(src='img/slider/pic_2.jpg' alt='Второй слайд')
    .burger-menu
    .navigation
      a.link__nav_logo 
       img.logo(src="img/common/header/logos.svg", alt="")
       img.name__logo(src="img/common/header/Waxom.svg", alt="")
      ul.nav__list
       li.nav__list_item Home
       li.nav__list_item About Us
       li.nav__list_item Portfolio
       li.nav__list_item Features
       li.nav__list_item Blog
       li.nav__list_item Pricing
       li.nav__list_item Shortcodes
       li.nav__list_item Contact
      .card_and_search
       img.cart(src="img/common/header/icon-cart.png", alt="cart")
       img.search(src="img/common/header/icon-search.png", alt="search")
    .header__common_text
      p.header__header-text Unique and Modern Design
      p.header__header-portfolio Portfolio PSD Template
      p.header__header-describe Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
      a.btn Get Started  
      
  .item
    img.picture_slide(src='img/slider/pic_3.jpg' alt='Третий слайд')
    .burger-menu
    .navigation
      a.link__nav_logo 
       img.logo(src="img/common/header/logos.svg", alt="")
       img.name__logo(src="img/common/header/Waxom.svg", alt="")
      ul.nav__list
       li.nav__list_item Home
       li.nav__list_item About Us
       li.nav__list_item Portfolio
       li.nav__list_item Features
       li.nav__list_item Blog
       li.nav__list_item Pricing
       li.nav__list_item Shortcodes
       li.nav__list_item Contact
      .card_and_search
       img.cart(src="img/common/header/icon-cart.png", alt="cart")
       img.search(src="img/common/header/icon-search.png", alt="search")
    .header__common_text
      p.header__header-text Unique and Modern Design
      p.header__header-portfolio Portfolio PSD Template
      p.header__header-describe Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
      a.btn Get Started  
  a.prev(onclick='minusSlide()')
    img(src="img/slider/left.png" , alt="")
    img.prev_hover(src="img/slider/left_hover.png", alt="")
  a.next(onclick='plusSlide()')
    img(src="img/slider/right.png" , alt="")
    img.next_hover(src="img/slider/right_hover.png" , alt="")



  .item
    img.picture_slide(src='img/slider/pic_4.jpg' alt='Третий слайд')
    .burger-menu
    .navigation
      a.link__nav_logo 
       img.logo(src="img/common/header/logos.svg", alt="")
       img.name__logo(src="img/common/header/Waxom.svg", alt="")
      ul.nav__list
       li.nav__list_item Home
       li.nav__list_item About Us
       li.nav__list_item Portfolio
       li.nav__list_item Features
       li.nav__list_item Blog
       li.nav__list_item Pricing
       li.nav__list_item Shortcodes
       li.nav__list_item Contact
      .card_and_search
       img.cart(src="img/common/header/icon-cart.png", alt="cart")
       img.search(src="img/common/header/icon-search.png", alt="search")
    .header__common_text
      p.header__header-text Unique and Modern Design
      p.header__header-portfolio Portfolio PSD Template
      p.header__header-describe Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
      a.btn Get Started  
  a.prev(onclick='minusSlide()')
    img(src="img/slider/left.png" , alt="")
    img.prev_hover(src="img/slider/left_hover.png", alt="")
  a.next(onclick='plusSlide()')
    img(src="img/slider/right.png" , alt="")
    img.next_hover(src="img/slider/right_hover.png" , alt="")
 
  .item
    img.picture_slide(src='img/slider/pic_5.jpg' alt='Третий слайд')
    .burger-menu
    .navigation
      a.link__nav_logo 
       img.logo(src="img/common/header/logos.svg", alt="")
       img.name__logo(src="img/common/header/Waxom.svg", alt="")
      ul.nav__list
       li.nav__list_item Home
       li.nav__list_item About Us
       li.nav__list_item Portfolio
       li.nav__list_item Features
       li.nav__list_item Blog
       li.nav__list_item Pricing
       li.nav__list_item Shortcodes
       li.nav__list_item Contact
      .card_and_search
       img.cart(src="img/common/header/icon-cart.png", alt="cart")
       img.search(src="img/common/header/icon-search.png", alt="search")
    .header__common_text
      p.header__header-text Unique and Modern Design
      p.header__header-portfolio Portfolio PSD Template
      p.header__header-describe Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
      a.btn Get Started  
  a.prev(onclick='minusSlide()')
    img(src="img/slider/left.png" , alt="")
    img.prev_hover(src="img/slider/left_hover.png", alt="")
  a.next(onclick='plusSlide()')
    img(src="img/slider/right.png" , alt="")
    img.next_hover(src="img/slider/right_hover.png" , alt="")
  .slider-dots
    span.slider-dots_item(onclick='currentSlide(1)')
    span.slider-dots_item(onclick='currentSlide(2)')
    span.slider-dots_item(onclick='currentSlide(3)')
    span.slider-dots_item(onclick='currentSlide(4)')
    span.slider-dots_item(onclick='currentSlide(5)')
