.main-block__labels
   .main-block__labels__block 
        img.main-block__label.width--label.width--label--768(src="img/main-block__labels/logo-01.png")
        img.main-block__label.margin-right--none.width--label.width--label--768(src="img/main-block__labels/logo-02.png")
        img.main-block__label.margin-top-768px.width--label.width--label--768(src="img/main-block__labels/logo-03.png")
        img.main-block__label.margin-right--none.margin-top-768px.width--label.margin-label--bottom.width--label--768(src="img/main-block__labels/logo-04.png")
