.main-block__describes
  .describes__4-block 

    .describes__4-block_item
      img.icon(src="img/main-block__describes/describes__4-block/pencil.svg", alt="")
      p.h5 Web & App Design
      p.h2 Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
  
    .describes__4-block_item
      img.icon(src="img/main-block__describes/describes__4-block/Development.svg", alt="")
      p.h5 Web & App Design
      p.h2 Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
  
    .describes__4-block_item
      img.icon(src="img/main-block__describes/describes__4-block/customization.svg", alt="")
      p.h5 Web & App Design
      p.h2 Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
  
    .describes__4-block_item
      img.icon(src="img/main-block__describes/describes__4-block/Marketing.svg", alt="")
      p.h5 Web & App Design
      p.h2 Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
  