.main-block__contacts
   .main-block__contacts_4-blocks
      .main-block__contacts_block
        a.main-block__contacts_logo(href="#") 
           img.name(src="img/common/header/logos.svg", alt="")
           img.logo(src="img/common/header/Waxom.svg")
        
        p.contacts__block_text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci suscipit lobortis claritatem.
        
        .contacts__block_link-block
          a.contacts__block_link(href="#") Read More 
          img.contacts__block_arrow(src="img/main-block__contacts/arrow.png")

      .main-block__contacts_block
        p.main-block__contacts__header    Recent Posts
        .contacts_block__block_RSS
          date.month September 08, 2015
          p.main-block__contacts__new  Lorem ipsum dolor sit amet, consectetuer adipiscing elit
        .contacts_block__block_RSS
          date.month September 08, 2015
          p.main-block__contacts__new  Diam nonummy nibh euismod tincidunt ut laoreet dolore magna

        .contacts_block__block_RSS
          date.month September 08, 2015
          p.main-block__contacts__new  Claritas est etiam processus dynamicus, qui sequitur mutationem


      .main-block__contacts_block
        p.main-block__contacts__header    Our Twitter
        .main-block__contacts_block-twit
          p.main-block__contacts__twit  @waxom Cum soluta nobis eleifend option congue nihil imperdiet 
          .time 3 mins ago
        .main-block__contacts_block-twit
          p.main-block__contacts__twit  Mirum est #envato notare quam littera gothica, quam nunc putamu
          .time 5 hours ago
        .main-block__contacts_block-twit
          p.main-block__contacts__twit   Soluta nobis option bit.ly/1Hniso7
          .time.time--last 20 days ago

      .main-block__contacts_block.widget--block
        p.main-block__contacts__header   Dribbble Widget

        .main-block__contacts_widget
          img.widget.margin--right.margin--bottom(src="img/main-block__contacts/photo.jpg")
          img.widget(src="img/main-block__contacts/photo-2.jpg")
          img.widget.margin--right.margin--bottom(src="img/main-block__contacts/photo-3.jpg")
          img.widget(src="img/main-block__contacts/photo-4.jpg")




      