.main-block__statistics
  .main-block__statistics_5-blocks 
    .main-block__statistics_block
      img.icon(src="../img/main-block__statistics/person.png", alt="")
      number.main-block__number 3587
      h3.main-block__name Satisfied Clients

    .main-block__statistics_block
      img.icon(src="../img/main-block__statistics/cup.png", alt="")
      number.main-block__number 207
      h3.main-block__name Cups of coffee

    .main-block__statistics_block
      img.icon(src="../img/main-block__statistics/message.png", alt="")
      number.main-block__number 2500
      h3.main-block__name Blog posts

    .main-block__statistics_block
      img.icon(src="../img/main-block__statistics/heart.png", alt="")
      number.main-block__number 873
      h3.main-block__name Likes

    .main-block__statistics_block
      img.icon(src="../img/main-block__statistics/dish.png", alt="")
      number.main-block__number 900
      h3.main-block__name We launched


    