.main-block__describes
  .describes__4-block 

    .describes__4-block_item
      .image-icon-block 
        img.icon(src="img/main-block__describes/describes__4-block/pencil.svg", alt="")
        img.icon_hover(src="img/main-block__describes/describes__4-block/pencil_hover.svg", alt="")
      p.h5 Web & App Design
      p.h2 Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
      .line
      .line-hover

    .describes__4-block_item.describes__4-block_item--margin
      .image-icon-block 
        img.icon(src="img/main-block__describes/describes__4-block/Development.svg", alt="")
        img.icon_hover(src="img/main-block__describes/describes__4-block/Development_hover.svg", alt="")
      p.h5 Development
      p.h2 Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.
      .line
      .line-hover

    .describes__4-block_item
      .image-icon-block 
        img.icon(src="img/main-block__describes/describes__4-block/customization.svg", alt="")
        img.icon_hover(src="img/main-block__describes/describes__4-block/customization_hover.svg", alt="")
      p.h5 Customization
      p.h2 Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
      .line
      .line-hover

    .describes__4-block_item.describes__4-block_item--margin
      .image-icon-block 
        img.icon(src="img/main-block__describes/describes__4-block/Marketing.svg", alt="")
        img.icon_hover(src="img/main-block__describes/describes__4-block/Marketing_hover.svg", alt="")
      p.h5 Marketing
      p.h2 Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
      .line
      .line-hover