.main-block__realization 
  p.main-block__realization_describe_h3 Waxom is Realization of your Ideas 
  p.main-block__realization_describe_h2 Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.

  .main-block__realization_3-pictures 
        .main-block__picture.left 
          img.pic--width(src="img/main-block__describes/pictures/browser-left.jpg", alt="") 
        .main-block__picture.center 
          img.pic--width(src="img/main-block__describes/pictures/browser-center.jpg" , alt="")
        .main-block__picture.right 
          img.pic--width(src="img/main-block__describes/pictures/browser-right.jpg",alt="") 
  .brown-line
    .brown-line__common-block
     .brown-line__block     
       .brown-line__block_quotation Waxom Multipurpose WordPress Theme
       .brown-line__block_h1  Don't Forget to Rate the Template. Thanks so much!
       
     button.brown-line_link Purchase Now