.main-block__presentation
  a.block-player(href="#")
    img.circle(src="img/main-block__presentation/circle.svg", alt="")
    img.play(src="img/main-block__presentation/icon-play.svg", alt="")
 
  .main-block__presentation__block-text
    p.main-block__presentation__header Waxom Video Presentation
    p.main-block__presentation__name Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius, qui sequitur mutationem consuetudium.
    time.time 03:26