.main-block__mobile_devices
 img.mobile(src="img/main-block__mobile_devices/iPhone in hand.png", alt="")
 .main-block__mobile_devices_block-text
   p.main-block__mobile_devices--header Excellent for Mobile Devices.
   p.main-block__mobile_devices--describe-text Qisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius claritas. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
   ul.main-block__mobile_devices_list
     li.main-block__mobile_devices_li Nam liber tempor cum soluta nobis eleifend option; 
       img.list-style(src="img/main-block__mobile_devices/style_list.svg", alt="")
     li.main-block__mobile_devices_li Option congue nihil imperdiet doming id quod mazim placerat facer;
       img.list-style(src="img/main-block__mobile_devices/style_list.svg", alt="")
     li.main-block__mobile_devices_li Eodem modo typi, qui nunc nobis videntur parum futurum;
       img.list-style(src="img/main-block__mobile_devices/style_list.svg", alt="")
     li.main-block__mobile_devices_li Investigationes demonstraverunt lectores
       img.list-style(src="img/main-block__mobile_devices/style_list.svg", alt="")
 