.main-block__recent-posts
   .main-block__recent-posts_header Recent Posts.
   .main-block__recent-posts_describe Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
   .main-block__recent-posts_3-blocks
     .main-block__post
        .main-block__post_block-picture
          img.main-block__picture(src="../../../img/main-block__recent-posts/boots.jpg" , alt="")
        .main-block__post_back-date
           .main-block__post_back-date--top 30
           .main-block__post_back-date--bottom Sep.
        .main-block__post_name Lorem ipsum dolor sit amet
        p.main-block__post_describe Claritas est etiam processus dynamicus, qui sequitur mutationem
        a.main-block__post_link Read More
      
     .main-block__post
        .main-block__post_block-picture
           img.main-block__picture(src="../../../img/main-block__recent-posts/keyboard.jpg" , alt="")
        .main-block__post_back-date
           .main-block__post_back-date--top 30
           .main-block__post_back-date--bottom Sep.
        .main-block__post_name Lorem ipsum dolor sit amet
        p.main-block__post_describe Claritas est etiam processus dynamicus, qui sequitur mutationem
        a.main-block__post_link Read More

     .main-block__post
        .main-block__post_block-picture
           img.main-block__picture(src="../../../img/main-block__recent-posts/ship.jpg" , alt="")
        .main-block__post_back-date
           .main-block__post_back-date--top 30
           .main-block__post_back-date--bottom Sep.
        .main-block__post_name Lorem ipsum dolor sit amet
        p.main-block__post_describe Claritas est etiam processus dynamicus, qui sequitur mutationem
        a.main-block__post_link Read More


   .main-block__recent-posts__slider
     img.main-block__recent-posts__left(src="../../../main-block__recent-posts/left__arrow-slider.svg" alt="")
     img.main-block__recent-posts__right(src="../../../img/main-block__recent-posts/right__slide-arrow.png" alt="") 