.main-block__labels
   .main-block__labels__block 
        img.main-block__picture(src="img/main-block__labels/logo-01.png")
        img.main-block__picture.margin-right--none(src="img/main-block__labels/logo-02.png")
        img.main-block__picture.margin-top-768px(src="img/main-block__labels/logo-03.png")
        img.main-block__picture.margin-right--none.margin-top-768px(src="img/main-block__labels/logo-04.png")
