.main-block__projects
  .main-block__projects_block-text 
    p.main-block__h3 Our Latest Projects.
    p.main-block__h1 Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
    .main-block__projects_list 
       a.main-block__projects_item(href="#") All
       a.main-block__projects_item(href="#") Web Design
       a.main-block__projects_item(href="#") Mobile App
       a.main-block__projects_item(href="#") Illustration
       a.main-block__projects_item(href="#") Photography
    
    .main-block__projects_block-pic 
      .projects_block-pic__row
        .projects_block__picture 
           .projects_block__picture_central-block
             img.link(src="img/main-block__projects/main-block__projects_block-pic/link.svg", alt="") 
             img(src="img/main-block__projects/main-block__projects_block-pic/lens.svg", alt="") 
           img.projects__picture(src="img/main-block__projects/main-block__projects_block-pic/Claritas Etiam Processus.jpg", alt="")
           img.projects__back-corner(src="img/main-block__projects/main-block__projects_block-pic/arrow.png", alt="")
           img.projects__back-corner--hover(src="img/main-block__projects/main-block__projects_block-pic/arrow__hover.png", alt="")
           .projects_block__picture_header-describer
             p.projects_block__picture--header  Claritas Etiam Processus
             p.projects_block__picture--describe Photography, Nature     
        
        .projects_block__picture 
           .projects_block__picture_central-block
             img.link(src="img/main-block__projects/main-block__projects_block-pic/link.svg", alt="") 
             img(src="img/main-block__projects/main-block__projects_block-pic/lens.svg", alt="") 
           img.projects__picture(src="img/main-block__projects/main-block__projects_block-pic/Usus Legentis Videntur.jpg", alt="")
           img.projects__back-corner(src="img/main-block__projects/main-block__projects_block-pic/arrow.png", alt="")
           img.projects__back-corner--hover(src="img/main-block__projects/main-block__projects_block-pic/arrow__hover.png", alt="")
           .projects_block__picture_header-describer
             p.projects_block__picture--header  Quam Nutamus Farum
             p.projects_block__picture--describe Graphic Design, Mock-Up
        
        .projects_block__picture.margin-top--block 
           .projects_block__picture_central-block
             img.link(src="img/main-block__projects/main-block__projects_block-pic/link.svg", alt="") 
             img(src="img/main-block__projects/main-block__projects_block-pic/lens.svg", alt="") 
           img.projects__picture(src="../../../img/main-block__projects/main-block__projects_block-pic/ship.jpg", alt="")
           img.projects__back-corner(src="img/main-block__projects/main-block__projects_block-pic/arrow.png", alt="")
           img.projects__back-corner--hover(src="img/main-block__projects/main-block__projects_block-pic/arrow__hover.png", alt="")
           .projects_block__picture_header-describer 
             p.projects_block__picture--header  Quam Nutamus Farum
             p.projects_block__picture--describe Graphic Design, Mock-Up
        

      .projects_block-pic__row.margin-top
        .projects_block__picture 
           .projects_block__picture_central-block
             img.link(src="img/main-block__projects/main-block__projects_block-pic/link.svg", alt="") 
             img(src="img/main-block__projects/main-block__projects_block-pic/lens.svg", alt="") 
           img.projects__picture(src="img/main-block__projects/main-block__projects_block-pic/photo_4.jpg", alt="")
           img.projects__back-corner(src="img/main-block__projects/main-block__projects_block-pic/arrow.png", alt="")
           img.projects__back-corner--hover(src="img/main-block__projects/main-block__projects_block-pic/arrow__hover.png", alt="")
           .projects_block__picture_header-describer
             p.projects_block__picture--header  Quam Nutamus Farum
             p.projects_block__picture--describe Graphic Design, Mock-Up
        
        .projects_block__picture 
           .projects_block__picture_central-block
             img.link(src="img/main-block__projects/main-block__projects_block-pic/link.svg", alt="") 
             img(src="img/main-block__projects/main-block__projects_block-pic/lens.svg", alt="") 
           img.projects__picture(src="img/main-block__projects/main-block__projects_block-pic/photo_5.jpg", alt="")
           img.projects__back-corner(src="img/main-block__projects/main-block__projects_block-pic/arrow.png", alt="")
           img.projects__back-corner--hover(src="img/main-block__projects/main-block__projects_block-pic/arrow__hover.png", alt="")
           .projects_block__picture_header-describer
             p.projects_block__picture--header  Quam Nutamus Farum
             p.projects_block__picture--describe Graphic Design, Mock-Up
        
        .projects_block__picture.margin-top--block  
           .projects_block__picture_central-block
             img.link(src="img/main-block__projects/main-block__projects_block-pic/link.svg", alt="") 
             img(src="img/main-block__projects/main-block__projects_block-pic/lens.svg", alt="") 
           img.projects__picture(src="img/main-block__projects/main-block__projects_block-pic/photo_6.jpg", alt="")
           img.projects__back-corner(src="img/main-block__projects/main-block__projects_block-pic/arrow.png", alt="")
           img.projects__back-corner--hover(src="img/main-block__projects/main-block__projects_block-pic/arrow__hover.png", alt="")
           .projects_block__picture_header-describer 
             p.projects_block__picture--header  Quam Nutamus Farum
             p.projects_block__picture--describe Graphic Design, Mock-Up
        
  a.main-block__link(href="#") Load More