.slider_main-block__realization
  .slider-container
    .arrow-left
      .arrow-bg
        .arrow
         img(src="img/slider/left.png")
    .arrow-right
      .arrow-bg
        .arrow
         img(src="img/slider/right.png")
    .slider-track  
      .slider-item       
       img.slider-item__pic(src="img/main-block__realization/320px/browser-left.jpg", alt="") 
      .slider-item       
       img.slider-item__pic(src="img/main-block__realization/320px/browser-center.jpg" , alt="")
      .slider-item       
       img.slider-item__pic(src="img/main-block__realization/320px/browser-right.jpg",alt="")
      