
include ../helpers/mixins

block variables

doctype html
html(lang="ru-RU")
head 
 meta(charset="utf-8")
 title Waxom Hemepage)
 meta(http-eqiv='X-UA-Compatible' , content="IE = edge")
 meta(name="viewport" content="width=device-width, initiale-scale=1")
 meta(name="keywords" content="")
 link(rel="stylesheet" type="text/css" href="styles.css")
 body 
  .wrapper   
    include ../modules/header.pug   
    include ../modules/main-block__describes.pug
    include ../modules/main-block__realization.pug
    include ../modules/main-block__projects.pug
    include ../modules/main-block__presentation.pug
    include ../modules/main-block__mobile_devices.pug
    include ../modules/main-block__statistics.pug
    include ../modules/main-block__recent-posts.pug
    include ../modules/main-block__labels.pug
    include ../modules/main-block__contacts.pug
    include ../modules/footer.pug 

 script(src = "../../js/burger-menu.js") 
 script(src = "../../../build/slider/slider.js") 



