.main-block__projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}


.main-block__projects_block-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-block__h3 {
    font-size: 30px;
    font-family: Raleway;
    color: #555;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    z-index: 130;
    margin-top: 86px;
}


.main-block__h1 {
    font-size: 16px;
    font-family: Montserrat;
    color: #8c8c8c;
    line-height: 1.75;
    text-align: center;
    width: 757px;
    height: auto;
    z-index: 131;
    margin-top: 33px;
}


.main-block__projects_list {
    display: flex;
    list-style: none;
    margin-top: 42px;
}

.main-block__projects_item {
    font-size: 14px;
    font-family: Montserrat;
    color: #8c8c8c;
    line-height: 1.5;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #ebebeb;
    border-radius: 3px;
    background-color: rgba(17, 17, 17, 0);
    width: 124px;
    height: 36px;
    z-index: 139;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
}
  
.main-block__projects_item:hover {
    background-color: #998675;
    color: #ffffff;
}


.main-block__projects_block-pic {
    display: flex;
    width: 1174px;
    flex-direction: column;
}

.projects_block__picture {
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 337px;
    position: relative;
    margin-right: 30px;
}


.projects_block__picture:hover .projects_block__picture_header-describer {
    background-color: #362f2d;
    }

    .projects__back-corner {
        display: flex;
        position: absolute;
        top: 227px;
        z-index: 11;
        left: 20px;
    }

.projects_block__picture:hover .projects__back-corner--hover {
    display: flex;
    position: absolute;
    top: 227px;
    z-index: 11;
    left: 20px;
}

.projects__back-corner--hover{
    display: none;
}

.projects_block-pic__row {
    display: flex;
    margin-top: 40px;
    height: 339px;
}


.projects__picture {
    display: flex;
    width: 370px;
    height: 237px;
    flex-direction: column;
    align-items: center;
    background-color: #fbfaf8;
}

.projects_block__picture--header {
    font-size: 20px;
    font-family: Raleway;
    color: #c7b299;
    line-height: 1.2;
    text-align: left;
    width: 229px;
    z-index: 163;
    height: auto;
    margin-top: 30px;
    margin-left: 28px;
}

.projects_block__picture:hover .projects__picture {
      filter: brightness(0.5);
} 


.projects_block__picture:hover .projects_block__picture--header {
    color: #ffffff;
}
    

.projects_block__picture:hover .projects_block__picture--describe {
    color: #c7b299;
}


.projects_block__picture:hover .projects__back-corner--hover  {
    display: flex;
}

.projects_block__picture:hover .projects_block__picture_central-block {
    display: flex;
    z-index: 4;
    justify-content: center;
    align-items: center;
}


.projects_block__picture--describe {
    font-size: 14px;
    font-family: Montserrat;
    color: #d1d1d1;
    line-height: 1.429;
    text-align: left;
    z-index: 164;
    margin-top: 15px;
    margin-left: 28px;
    margin-bottom: 20px;
}

.projects_block__picture_header-describer {
    padding-left: 0;
    width: 100%;
}

.link{
    margin-right: 29px;
}


.projects_block__picture_central-block {
    display: none;
    position: absolute;
    top: 30%;
    left: 40%;
}

.main-block__link {
    font-size: 14px;
    font-family: Raleway;
    background-color: #998675;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.643;
    display: flex;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    box-shadow: inset 0 3px 0 0 rgb(115 99 87 / 0%);
    width: 170px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 232;
    margin-top: 40px;
    margin-bottom: 80px;
}

