@media screen and (min-width:1024px) and (max-width:1200px) {
    
    .slider .item {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav__list {      
        margin-right: 40px;
    }
       
    .nav__list_item:nth-child(8) {
        margin-right: 0;
    }
    .nav__list_item {     
        margin-top: 10px;
    }


    .prev {        
        left: 50px;        
    }

    .left_slide {
        position: absolute;
        left: 90px;
    }

    .right_slide {
        position: absolute;
        right: 90px;
    }


    .main-block__describes {
        height: auto;
    }

    .describes__4-block {
        display: flex;
        padding-top: 80px;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 60px;
    }

    .main-block__realization {
        margin-top: 0;
        height: auto;
    }

    .main-block__realization_3-pictures {
        display: flex;
        width: 80%;
        position: relative;
        height: 240px;
        justify-content: center;
        margin-top: 200px;
        flex-direction: row;
    }

    .pic--width_320px {
        width: 50%;
    }

    .pic--width {
        width: 80%;
    }

    
    .left {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 80%;
    }

    .center {
        position: absolute;
        bottom: 0;
        z-index: 3;
    }

    .right {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .main-block__realization_describe_h2 {
        font-size: 16px;
        font-family: Montserrat;
        color: #8c8c8c;
        line-height: 1.75;
        text-align: center;
        width: 757px;
        height: auto;
        z-index: 114;
        display: flex;
        margin-top: 33px;
        margin-bottom: 40px;
    }

    .main-block__statistics_5-blocks {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }
    .mobile {
        display: flex;
        padding-top: 78px;
        padding-left: 0;
        width: 40%;
    }

    .main-block__post:last-child{
        margin-right: 0;
        margin-top:40px;
    }


    .main-block__mobile_devices_block-text {
        display: flex;
        margin-top: 70px;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 60px;
        width: 90%;
    }


    .main-block__post {
        display: flex;
        width: auto;
        height: 395px;
        flex-direction: column;
        position: relative;
        align-items: baseline;
        margin-right: 30px;
    }

    .main-block__post:nth-child(2) {
margin-right: 0;
    }

    .main-block__post_link {
        margin-left: 20px;
        align-self: baseline;
    }

    .main-block__post_describe {
        width: 297px;
        margin-left: 20px;
    }

    .main-block__post_name {       
        margin-left: 20px;        
    }

     .main-block__mobile_devices--describe-text {
        font-size: 16px;
        font-family: Montserrat;
        color: #8c8c8c;
        line-height: 1.75;
        text-align: left;
        width: 80%;
        height: auto;
        z-index: 258;
        margin-top: 20px;
    }

    .brown-line__common-block {
        display: flex;
        width: 90%;
        justify-content: space-between;
        align-items: center;
    }

     .main-block__mobile_devices_list {
        display: flex;
        flex-direction: column;
        list-style: none;
        width: 80%;
        margin-top: 40px;
    }

    .link__nav_logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 50px;
        margin-bottom: 0;
    }


    .main-block__projects_block-pic {
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .projects_block__picture {
        width: auto;
        margin-right: 20px;
        margin-top: 0;
    }


    .projects_block__picture:nth-child(2) {
        width: auto;
        margin-right: 0;
    }

    .projects_block__picture:nth-child(3) {
        width: auto;
        margin-right: 0;
        margin-top: 0;
    }

    .projects_block-pic__row {
        display: flex;
        margin-top: 40px;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        margin-bottom: 0;
    }

    .margin-top {
        margin-top: 350px;
    }

    .margin-block--top-1024 {
        margin-top: 40px;
    }

 
    .describes__4-block {
        display: flex;
        padding-top: 80px;
        justify-content: center;
        flex-wrap: wrap;
    }
  

    .main-block__projects {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;      
    }


     .main-block__recent-posts {
        display: flex;
        width: 100%;
        height: auto;
        background: #fff;
        flex-direction: column;
        align-items: center;
    }


    .projects__picture {
        width: auto;
    }

    .width--label {
        width: 20%;
    }

    .main-block__labels__block {
        flex-direction: row;     
        justify-content: space-around;
    }

  .main-block__recent-posts_3-blocks {
    display: flex;
    margin-top: 43px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    width: 90%;
}


    .main-block__link {     
        margin-top: 40px;       
    }


    .main-block__contacts {
        background-color: #191919;
        display: flex;
        width: 100%;
        height: auto;
    }

    .main-block__contacts__header {
        font-size: 24px;
        font-family: Raleway;
        color: #fff;
        font-weight: 700;
        line-height: 1.2;
        text-align: center;
        z-index: 16;
        margin-top: 55px;
    }

    .main-block__contacts_4-blocks {
        display: flex;
        justify-content: center;
        margin-left: 0;
        flex-wrap: wrap;
    }

    .footer {
        display: flex;
        width: 100%;
        height: 111px;
        background-color: #111;
        align-items: center;
        justify-content: center;
    }

    .footer__wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;
        width: 90%;
    }

    .footer__left-block {
        margin-left: 0;
    }

    .footer__right-block {
        margin-left: 0;
    }

    .widget--block {
        margin-left: 0;
        margin-right: 0;
    }

    .main-block__contacts_widget {
        display: flex;
        margin-top: 25px;
        width: auto;
        flex-wrap: nowrap;
    }

    .margin--bottom {
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .widget--block {
        margin-left: 0;
        margin-right: 0;
        width: 90%;
    }

    .main-block__contacts_widget {
        display: flex;
        margin-top: 25px;
        width: auto;
        flex-wrap: nowrap;
        justify-content: center;
        margin-bottom: 40px;
    }
}