

@media screen and (min-width:768px) and (max-width: 1023px) {

   .prev {       
        left: 50px;      
    }

    .slider .next {
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        font-weight: 700;
        font-size: 18px;
        right: 50px;
    }

    .header__header-text {
        font-size: 32px;
        font-family: Raleway;
        color: #fff;
        line-height: 1.2;
        text-align: center;
        z-index: 414;
        margin-top: 210px;
    }

    .header__header-portfolio {
        font-size: 45px;
        font-family: Raleway;
        color: #fff;
        font-weight: 700;
        line-height: 1.2;
        text-align: center;
        z-index: 415;
        margin-top: 20px;
    }

    .header__header-describe {
        display: flex;
        justify-content: center;
        font-size: 16px;
        font-family: Montserrat;
        color: #fff;
        line-height: 1.5;
        text-align: center;
        width: 60%;
        z-index: 416;
        margin-top: 20px;
    }

    .right_slide {
        position: absolute;
        right: 50px;
    }

    .left_slide {
        position: absolute;
        left: 50px;
    }

    .header__radiobtn {
        display: flex;
        justify-content: center;
        justify-self: center;
        margin-top: 340px;
    }

.describes__4-block_item {
    width: 265px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

    .link__nav_logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .header__header-text {
        font-size: 36px;
        font-family: Raleway;
        color: #fff;
        line-height: 1.2;
        text-align: center;
        z-index: 414;
        margin-top: 210px;
    }

    .main-block__describes {
        height: 640px;
    }

    .navigation {       
        flex-wrap: wrap;
    }

    .describes__4-block {
        flex-wrap: wrap;
        margin-bottom: 50px;
    }

    .main-block__realization_describe_h2 {
        font-size: 16px;
        font-family: Montserrat;
        color: #8c8c8c;
        line-height: 1.75;
        text-align: center;
        width: 80%;
        height: auto;
        z-index: 114;
        display: flex;
        margin-top: 33px;
        margin-bottom: 40px;
    }

    .main-block__recent-posts {
        display: flex;
        width: 100%;
        height: auto;
        background: #fff;
        flex-direction: column;
        align-items: center;
    }


    .main-block__projects_block-pic {
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 40px;
    }

    .projects_block-pic__row {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        height: auto;
    }

    .projects_block__picture {      
        margin-right: 0;
        margin-top: 40px;
    }

    .pic--width {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .margin-top {
        margin-top: 0;
    }
    
    .main-block__realization_3-pictures {
        width: 80%;
        height: auto;
        margin-top: 320px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .main-block__link {
        margin-top: 40px;
        margin-bottom: 80px;
    }

    .brown-line__common-block {
        display: flex;
        width: 90%;
        justify-content: space-between;
        align-items: center;
    }

    .main-block__picture {
        display: flex;
        width: 70%;
    }

    .main-block__recent-posts_3-blocks {
        display: flex;
        margin-top: 43px;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .main-block__projects {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        height: auto;
    }

    .main-block__mobile_devices {
        display: flex;
        width: 100%;
        height: auto;
        background: #fbfaf8;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .mobile {
        display: flex;
        padding-top: 40px;
    }


    .main-block__labels {       
        height: auto;      
    }

    .main-block__labels__block {
        flex-direction: row;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .main-block__post {
        display: flex;
        width: 370px;
        height: 395px;
        flex-direction: column;
        margin-right: 0;
        position: relative;
        margin-bottom: 40px;
    }

    .main-block__mobile_devices_block-text {
        margin-left: 0;
    }

    .main-block__mobile_devices_list {
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .main-block__recent-posts_describe {
        width: 70%;
        height: auto;
    }

   .main-block__statistics {
    margin-top: 0;   
}

.main-block__statistics_block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 35px;
}

.main-block__statistics_5-blocks {
    align-items: center;
    justify-content: center; 
    width: 90%;
    flex-direction: row;
}


.main-block__recent-posts__slider { 
    margin-bottom: 40px;
}

 .width--label--768 {
    width: 20%;
    margin-right: 30px;
}

.main-block__contacts_logo {
    display: flex;
    align-self: baseline;
    margin-top: 40px;
}


.main-block__labels__block {
    flex-direction: row;
    margin-bottom: 30px;
    width: 90%;
}


.main-block__contacts {
    background-color: #191919;
    display: flex;
    width: 100%;
    height: auto;
}

.main-block__contacts_4-blocks {
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    margin-left: 0;
    margin-bottom: 40px;
}

.main-block__contacts__header { 
    margin-top: 55px;
}


.margin-right--none {
    margin-right: 20px;
}

.margin-top-768px{
    margin-top: 30px;
}

.footer {
    display: flex;
    width: 100%;
    height: 111px;
    background-color: #111;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.footer__left-block {
    margin-left: 0;
    width: auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer__right-block {
    margin-left: 10px;
    width: auto;
    flex-direction: row;
    margin-top: 0;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.footer__item {
    font-size: 13px;
    font-family: Montserrat;
    margin-top: 0;
    width: auto;
}

.footer__item:first-child {
    margin-top: 0; 
    }
}